# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
vacation_df = pd.read_csv("output_data/weather_data.csv")
vacation_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,shimoda,34.67,138.95,286.15,66,75,6.20,JP,1587087051
1,teya,60.38,92.63,277.90,67,73,0.40,RU,1587087052
2,menongue,-14.66,17.69,289.25,56,13,0.71,AO,1587087052
3,nikolskoye,59.70,30.79,275.15,74,75,6.00,RU,1587087052
4,carnarvon,-24.87,113.63,304.15,35,61,4.60,AU,1587086981

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Store latitude and longitude in locations
locations = vacation_df[["Lat", "Lng"]]
rating = vacation_df["Humidity"].astype(float)

In [7]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Adjust the zoom level


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [9]:
# Use loc with condition
criteria_df = vacation_df.loc[(vacation_df['Max Temp'] < 285)]
criteria_df = criteria_df.loc[(criteria_df['Max Temp'] > 265)]
criteria_df = criteria_df.loc[(criteria_df['Wind Speed'] < 10)]
criteria_df = criteria_df.loc[(criteria_df['Cloudiness'] == 0)]
criteria_df = criteria_df.dropna
criteria_df

<bound method DataFrame.dropna of                City    Lat     Lng  Max Temp  Humidity  Cloudiness  \
39        springbok -29.66   17.89    282.90        39           0
50           castro -24.79  -50.01    283.11        40           0
105     boshnyakovo  49.63  142.17    276.71        69           0
124          shetpe  44.17   52.12    279.80        64           0
158           bayir  37.27   28.22    282.15        87           0
222  barbosa ferraz -24.03  -52.01    284.90        63           0
249         margate  51.38    1.39    283.15        87           0
326         okhotsk  59.38  143.30    269.83        84           0
344            umea  63.83   20.26    273.71        88           0
354      norrkoping  58.59   16.18    277.15        48           0
356        nykoping  58.75   17.01    277.15        55           0
364     krasnyy yar  46.53   48.35    280.15        61           0
387  lagoa vermelha -28.21  -51.53    280.47        71           0
421      troitskoye  52.98   84.68    282.83        64           0
434       apucarana -23.55  -51.46    283.92        51           0
444     san vicente -26.62  -54.13    282.26        64           0
460           samur  41.83   48.49    281.35        76           0
482         shahrud  36.42   54.98    284.26        34           0
483         erenhot  43.65  111.98    284.09        28           0

     Wind Speed Country        Date
39         2.42      ZA  1587087062
50         0.94      BR  1587087064
105        4.33      RU  1587087076
124        2.67      KZ  1587087080
158        2.10      TR  1587087088
222        1.42      BR  1587087106
249        5.10      GB  1587087113
326        4.26      RU  1587087132
344        5.10      SE  1587087137
354        5.10      SE  1587087139
356        4.60      SE  1587087140
364        5.00      RU  1587087141
387        1.07      BR  1587087146
421        0.86      RU  1587087159
434        1.55      BR  1587087164
444        1.31      AR  1587087172
460        3.22      RU  1587087178
482        1.97      IR  1587087185
483        1.55      CN  1587087186  >

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure